---
BasedOnStyle: LLVM

AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: true
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Linux
BreakBeforeConceptDeclarations: Always
ColumnLimit: 100
ContinuationIndentWidth: 2
DerivePointerAlignment: false
IncludeBlocks: Preserve
InsertBraces: true
IncludeCategories:
  - Regex:           '<[[:alnum:].]+>'
    Priority:        1
  - Regex:           '^((<|")(gtest|gmock|isl|json)/)'
    Priority:        2
  - Regex:           '.*'
    Priority:        3
IndentPPDirectives: AfterHash
IndentWidth: 2
LineEnding: DeriveLF
NamespaceIndentation: All
PackConstructorInitializers: NextLine
PenaltyReturnTypeOnItsOwnLine: 100000000
PointerAlignment: Left
ReferenceAlignment: Left
---
