.cache
Debug/*
Testing/*
.idea
.vs/*
.vs
imgui.ini
soul/imgui.ini
enc_temp_folder
soul/imgui.ini
assets/*
build/*
.vscode/*
out/*
assets/*
CMakeSettings.json
soul/out
nsight-report
*.DotSettings
*.DotSettings.user
benchmark_sandbox
